name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: KeGolk
          template: classic
          base: header, activity, community, repositories
          config_timezone: Europe/Belgrade
          config_order: base.header, isocalendar, languages, habits
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_limit: 8
          plugin_languages_colors: 0:0077B6, 1:00B4D8, 2:0A1628, 3:003559, 4:005F8A, 5:48CAE4, 6:90E0EF, 7:CAF0F8
          plugin_habits: yes
          plugin_habits_days: 14
          plugin_habits_charts: yes
          filename: github-metrics.svg
          output_action: commit
